SpaceDefence/obj/SpaceDefence.csproj.nuget.dgspec.json
SpaceDefence/obj/project.nuget.cache
SpaceDefence/obj/project.assets.json
SpaceDefence/obj/Debug/net8.0/SpaceDefence.sourcelink.json
SpaceDefence/obj/Debug/net8.0/SpaceDefence.pdb
SpaceDefence/obj/Debug/net8.0/SpaceDefence.genruntimeconfig.cache
SpaceDefence/obj/Debug/net8.0/SpaceDefence.GeneratedMSBuildEditorConfig.editorconfig
SpaceDefence/obj/Debug/net8.0/SpaceDefence.dll
SpaceDefence/obj/Debug/net8.0/SpaceDefence.csproj.FileListAbsolute.txt
SpaceDefence/obj/Debug/net8.0/SpaceDefence.csproj.CoreCompileInputs.cache
SpaceDefence/obj/Debug/net8.0/SpaceDefence.csproj.CopyComplete
SpaceDefence/obj/Debug/net8.0/SpaceDefence.csproj.BuildWithSkipAnalyzers
SpaceDefence/obj/Debug/net8.0/SpaceDefence.assets.cache
SpaceDefence/obj/Debug/net8.0/SpaceDefence.AssemblyInfoInputs.cache
SpaceDefence/obj/Debug/net8.0/SpaceDefence.AssemblyInfo.cs
SpaceDefence/obj/Debug/net8.0/refint/SpaceDefence.dll
SpaceDefence/obj/Debug/net8.0/ref/SpaceDefence.dll
SpaceDefence/obj/Debug/net8.0/apphost.exe
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/TeamColors.mgcontent
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/ship_body.mgcontent
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/Particle.mgcontent
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/laser_turret.mgcontent
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/Laser.mgcontent
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/File.mgcontent
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/Fade.mgcontent
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/Crate.mgcontent
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/Bullet.mgcontent
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/base_turret.mgcontent
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/Alien.mgcontent
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/.mgstats
SpaceDefence/Content/obj/DesktopGL/net8.0/Content/.mgcontent
SpaceDefence/bin/Debug/net8.0/SpaceDefence.runtimeconfig.json
SpaceDefence/bin/Debug/net8.0/SpaceDefence.pdb
SpaceDefence/bin/Debug/net8.0/SpaceDefence.exe
SpaceDefence/bin/Debug/net8.0/SpaceDefence.dll
SpaceDefence/bin/Debug/net8.0/SpaceDefence.deps.json
SpaceDefence/bin/Debug/net8.0/runtimes/win-x86/native/soft_oal.dll
SpaceDefence/bin/Debug/net8.0/runtimes/win-x64/native/soft_oal.dll
SpaceDefence/bin/Debug/net8.0/runtimes/win-x64/native/SDL2.dll
SpaceDefence/bin/Debug/net8.0/runtimes/osx/native/libSDL2.dylib
SpaceDefence/bin/Debug/net8.0/runtimes/osx/native/libopenal.1.dylib
SpaceDefence/bin/Debug/net8.0/runtimes/linux-x64/native/libSDL2-2.0.so.0
SpaceDefence/bin/Debug/net8.0/runtimes/linux-x64/native/libopenal.so.1
SpaceDefence/bin/Debug/net8.0/NVorbis.dll
SpaceDefence/bin/Debug/net8.0/MonoGame.Framework.dll
SpaceDefence/bin/Debug/net8.0/Content/TeamColors.xnb
SpaceDefence/bin/Debug/net8.0/Content/ship_body.xnb
SpaceDefence/bin/Debug/net8.0/Content/Particle.xnb
SpaceDefence/bin/Debug/net8.0/Content/laser_turret.xnb
SpaceDefence/bin/Debug/net8.0/Content/Laser.xnb
SpaceDefence/bin/Debug/net8.0/Content/File.xnb
SpaceDefence/bin/Debug/net8.0/Content/Fade.xnb
SpaceDefence/bin/Debug/net8.0/Content/Crate.xnb
SpaceDefence/bin/Debug/net8.0/Content/Bullet.xnb
SpaceDefence/bin/Debug/net8.0/Content/base_turret.xnb
SpaceDefence/bin/Debug/net8.0/Content/Alien.xnb
.vs/SpaceDefence/v17/.suo
.vs/SpaceDefence/FileContentIndex/f7507197-c644-42f5-9071-a29f7904cdff.vsidx
